{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Reports | Lysimeter Samples {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lysimeter Samples</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Reports</li>
              <li class="breadcrumb-item active">Lysimeter Samples</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Measurement Samples from Lysimeters</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="LysSampleTable" class="table table-hover">
                  {% csrf_token %}
                  <thead>
                  <tr>
                    <th>Actions</th>
                    <th>SamplingDate</th>
                    <th>SamplingTime</th>
                    <th>SampleType</th>
                    <th>SampledObject</th> 
                    <th>Volume(mL)</th>
                    <th>pH</th>
                    <th>Conductivity(µS/cm)</th>  
                    <th>Nitrite(mg/L)</th>
                    <th>Nitrate(mg/L)</th>  
                    <th>Sulfat(mg/L)</th>  
                    <th>DOC(mg/L)</th>
                    <th>TOC(mg/L)</th>  
                    <th>Bromid(mg/L)</th>   
                    <th>Phosphate(mg/L)</th>  
                    <th>Fluorid(mg/L)</th> 
                    <th>Chlorid(mg/L)</th>
                    <th>2NPT(mg/L)</th>
                    <th>MPA(mg/L)</th>  
                    <th>SampleTaker</th>
                    <th>SampleComment</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for sample in samples %}
                    <tr>
                      <td>
                        <button type="button" class="btn btn-danger btn-sm delete-sample" data-sample-id="{{ sample.sample_id }}"><i class="fas fa-trash"></i></button>
                      </td>
                      <td>{{ sample.sample_date }}</td>
                      <td>{{ sample.sample_time }}</td>
                      <td>{{ sample.sample_type.sample_type_code}}</td>
                      <td>{{ sample.sample_object.object_code}}</td>
                      <td>{{ sample.sample_volume }}</td>
                      <td>{{ sample.sample_pH }}</td>
                      <td>{{ sample.sample_ec }}</td>
                      <td>{{ sample.sample_nitrite }}</td>
                      <td>{{ sample.sample_nitrate }}</td>
                      <td>{{ sample.sample_sulfat }}</td>
                      <td>{{ sample.sample_doc }}</td>
                      <td>{{ sample.sample_toc }}</td>
                      <td>{{ sample.sample_bromid }}</td>
                      <td>{{ sample.sample_phosphate }}</td>
                      <td>{{ sample.sample_fluorid }}</td>
                      <td>{{ sample.sample_chlorid }}</td>
                      <td>{{ sample.sample_2NPT }}</td>
                      <td>{{ sample.sample_MPA }}</td>
                      <td>{{ sample.sample_person.p_initials}}</td> 
                      <td>{{ sample.sample_comment }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Actions</th>
                    <th>SamplingDate</th>
                    <th>SamplingTime</th>
                    <th>SampleType</th>
                    <th>SampledObject</th> 
                    <th>Volume(mL)</th>
                    <th>pH</th>
                    <th>Conductivity(µS/cm)</th>  
                    <th>Nitrite(mg/L)</th>
                    <th>Nitrate(mg/L)</th>  
                    <th>Sulfat(mg/L)</th>  
                    <th>DOC(mg/L)</th>
                    <th>TOC(mg/L)</th>  
                    <th>Bromid(mg/L)</th>   
                    <th>Phosphate(mg/L)</th>  
                    <th>Fluorid(mg/L)</th> 
                    <th>Chlorid(mg/L)</th>
                    <th>2NPT(mg/L)</th>
                    <th>MPA(mg/L)</th>  
                    <th>SampleTaker</th>
                    <th>SampleComment</th>
                  </tr>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<!-- Page specific script -->
<script>
  $(document).ready(function () {
    $('#LysSampleTable tfoot th').each(function (i) {
      var title = $('#LysSampleTable thead th')
        .eq($(this).index())
        .text();
      $(this).html(
        '<input type="text" placeholder="' + title + '" data-index="' + i + '" />'
      );
    });

    // DataTable with Buttons
    var table = $('#LysSampleTable').DataTable({
      language: {
        decimal: ',',
        thousands: '.'
      },
      scrollY: 'auto',
      scrollX: true,
      scrollCollapse: true,
      paging: true,
      
      columnDefs: [
        {
          targets: 1, // index of the date column
          render: function (data, type, row) {
            var formattedDate = moment(data, 'MMMM DD, YYYY').format('DD/MM/YYYY');
            return formattedDate;
          }
        },
        {
          targets: 2, // index of the time column
          render: function (data, type, row) {
            var formattedTime = moment(data, 'hh:mm a').format('HH:mm:ss');
            return formattedTime;
          }
        }
      ],
      fixedColumns: true,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
      ]
    });

    // Filter event handler
    $(table.table().container()).on('keyup', 'tfoot input', function () {
      table
        .column($(this).data('index'))
        .search(this.value)
        .draw();
    });

    // Edit and Delete button event handlers
    $('#LysSampleTable tbody').on('click', '.edit-sample', function () {
      var sampleId = $(this).data('sample-id');
      // Add your edit logic here, for example, redirecting to an edit page with the sampleId
      console.log('Edit sample clicked. Sample ID: ' + sampleId);
    });

    $('#LysSampleTable tbody').on('click', '.delete-sample', function () {
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      var sampleId = $(this).data('sample-id');
      console.log('Delete sample clicked. Sample ID: ' + sampleId);
      var $row = $(this).closest("tr");
      $.ajax({
        url: '{% url "delete-sample" %}',
        method: 'POST',
        headers: {"X-CSRFToken": csrftoken},
        data: {sample_id: sampleId},
        success: function (response) {
          console.log(response)
          if (response.success) {
            console.log('Sample deleted successfully');
            // table.ajax.reload();
            $('#LysSampleTable tbody').find('[data-sample-id="' + sampleId + '"]').closest('tr').remove();

          } else {
            console.error('Error deleting sample:', response.error);
          }
        },
        error: function (xhr, status, error) {
          console.error('Error deleting sample:', error);
        }
      });
  });
});
</script>

<!-- <script>
  


  // $(function () {
  //   $("#example").DataTable({
  //     "responsive": true, "lengthChange": true, "autoWidth": true, scrollX: true,
  //     "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
  //   }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  // });

</script> -->

{% endblock extra_scripts %}