{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Reports | Weather {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Weather Data</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Reports</li>
              <li class="breadcrumb-item active">Weather</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Daily weather data collected from Cadenza Web</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="WeatherTable" class="table table-striped nowrap">
                  {% csrf_token %}
                  <thead>
                  <tr>
                    <th>Actions</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Niederschlagsmenge-24h(mm/d)</th>
                    <th>Verdunstung-nach-Haude-24h(mm/d)</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for weather in weathers %}
                    <tr>
                      <td><button type="button" class="btn btn-danger btn-sm delete-weather" data-weather-id="{{ weather.weather_id }}"><i class="fas fa-trash"></i></button></td>
                      <td>{{ weather.weather_date }}</td>
                      <td>{{ weather.weather_time }}</td>
                      <td>{{ weather.weather_precipitation}}</td>
                      <td>{{ weather.weather_evaporation}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Actions</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Precipitation(Niederschlagsmenge-24h)</th>
                    <th>Evaporation (Verdunstung nach Haude-24h)</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- Page specific script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#WeatherTable tfoot th').each(function (i) {
      var title = $('#WeatherTable thead th')
        .eq($(this).index())
        .text();
      $(this).html(
        '<input type="text" placeholder="' + title + '" data-index="' + i + '" />'
      );
    });

    // DataTable with Buttons
    var table = $('#WeatherTable').DataTable({
      scrollY: 'auto',
      scrollX: true,
      scrollCollapse: true,
      paging: true,
      fixedColumns: true,
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
      ],
      columnDefs: [
        {
          targets: 1, // index of the date column
          render: function (data, type, row) {
            var formattedDate = moment(data, 'MMMM DD, YYYY').format('DD/MM/YYYY');
            return formattedDate;
          }
        },
        {
          targets: 2, // index of the time column
          render: function (data, type, row) {
            var formattedTime = moment(data, 'hh:mm a').format('HH:mm:ss');
            return formattedTime;
          }
        }
      ],
    });

    // Filter event handler
    $(table.table().container()).on('keyup', 'tfoot input', function () {
      table
        .column($(this).data('index'))
        .search(this.value)
        .draw();
    });

    $('#WeatherTable tbody').on('click', '.delete-weather', function () {
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      var weatherId= $(this).data('weather-id');
      var $row = $(this).closest("tr");
      $.ajax({
        url: '{% url "delete-weather" %}',
        method: 'POST',
        headers: {"X-CSRFToken": csrftoken},
        data: {weather_id: weatherId},
        success: function (response) {
          console.log(response)
          if (response.success) {
            console.log('Weather deleted successfully');
            $('#WeatherTable tbody').find('[data-weather-id="' + weatherId + '"]').closest('tr').remove();

          } else {
            console.error('Error deleting weather:', response.error);
          }
        },
        error: function (xhr, status, error) {
          console.error('Error deleting weather:', error);
        }
      });
    });
  });
</script>

{% endblock extra_scripts %}